<search></search>
<div id="sent">
    <ul>
        <li ng-repeat="mail in outbox | filter: findmail | orderBy: '-sent'" class="true">
            <a>
                <div><p class="receivers">Receivers: <span ng-bind-html="mail.receivers.join() | highlight:findmail">{{mail.receivers}}</span></p><p class="time">Email has been sent: {{mail.sent | date:'yyyy-MM-dd HH:mm:ss'}}</p></div>
                <p class="title" ng-bind-html="mail.title | highlight:findmail" >Title: {{mail.title}}</p>
                <p class="content" ng-bind-html="mail.content | highlight:findmail">{{mail.content}}</p>
            </a>
        </li>
    </ul>
</div>